#map { height: 550px; }
.map {
    &__content-wrap {
        width: 100%;
        max-width: 315px;
        background-color: #8AC44B;
        padding: 40px;
        z-index: 444;
        position: relative;
        cursor: default;
    }

    &__content {
        position: absolute;
        margin-top: 65px;
    }
    
    &__content-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    &__content-item:last-child {
        margin-bottom: 0;
    }

    &__content-item span {
        font-size: 17px;
        font-weight: 400;
        color: #fff;
    }

    &__content-item a {
        text-decoration: none;
        font-size: 19px;
        font-weight: 700;
        padding-top: 6px;
    }

    &__content-social svg {
        margin-right: 20px;
    }

    &__content-social svg:last-child {
        margin-right: 0;
    }

    &__content-item .phone,
    &__content-item .adress {
        color: #fff;
    }

    &__content-item .mail {
        color: #1F69A6;
    }

    &__content-item h6 {
        font-size: 19px;
        color: #fff;
        font-weight: 500;
        margin-bottom: 15px;
        
    }
}

.leaflet-control-attribution {
	display: none;
}