.title {
    font-weight: 700;
    color: #3B3C40;
    margin-bottom: 0;
}

.text.first {
    font-size: 21px;
}


.wrapper {
    padding: 100px 0;
}

.description {
    padding-top: 40px;
}

